section {
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}

ul {
    font-size: 1.5rem;
    margin-top: 0;
    color: #475467;
}

li {
    margin-top: 1rem;
}

section > button{
    font-family: Inter, sans-serif;
    font-weight: 1rem;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: .3rem;
    padding: 1rem;
    cursor: pointer;
}
