footer {
    display: flex;
    justify-content: space-around;
    background: #222;
    color: #fff;
    padding: 1rem;
}

footer > a {
    color : white; 
    text-decoration: none;
}

footer > a:hover{
    color: #F6EFD2; 
    transition: .5s ease;
}
