header {
    border-bottom-color: grey;
    border-bottom-style: solid;
    display: flex;
    justify-content: center;
    gap: 1rem; 
    font-size: 1.5rem;
    background-color: white;
    padding: 1.5rem;
}

header > img {
    width : 2rem;
    height: 2rem;
    cursor: pointer;
}

header > h3{
    margin: 0;
    cursor: pointer;
}
